@import '../../styles/variables';

.container {
  font-size: $fontBase;
  padding: 5px;

  @media (max-width: $tablet) {
  }

  @media (max-width: $mobile) {
  }
}

.item {
  padding: 2px;
}

.input {
  display: block;
}
