@import '../../styles/variables';

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.title {
  font-size: $fontTitle;
  margin-bottom: 15px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px;
}

.notFound {
  font-size: $fontBase;
  margin-bottom: 10px;
  color: $disableBtn;
}
