@import './variables';

.wrapper {
  max-width: 1440px;
  height: 100%;
  padding: 20px;
  margin: 0 auto;

  @media (max-width: $tablet) {
    padding: 15px;
  }

  @media (max-width: $mobile) {
    padding: 10px;
  }
}
