$baseColor: #57ee00;
$lightBg: #ffffff;
$darkFont: #000000;
$lightFont: #ffffff;
$error: #ee0000;

$mobile: 480px;
$tablet: 720px;
$desktop: 1280px;

$fontBase: 16px;
$lineHeightBase: 19px;
